

@keyframes myAnimation {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }

    to {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}